<h1>This is index.html</h1>

<% @boats.each do |boat|  %>
<p><%= title = boat.title %></p>
<p><%= capacity = boat.capacity %></p>
<p><%= color = boat.color %></p>
<p><%= year_christened = boat.year_christened %></p>
<p><%= price = boat.price %></p>
<hr>
<%end%>